# -----------------------------------------------
# Required application dependencies             |
# Run pip install -r requirements.txt           |
# -----------------------------------------------

Flask
flask_cors
flasgger
graphene-sqlalchemy
graphene==2.1.8
graphql-core==2.2.1
graphql-relay
SQLAlchemy
mysqlclient
typing_extensions
flask_graphql
graphql-server-core
python-dotenv
bcrypt
redis
